{% load static %}
<script
  src="{% static 'pages/irradiance/irradiance.js' %}"
  type="text/javascript"
  charset="utf-8"
  async
  defer
></script>
<div id="form-banco">
  <div class="content-wrapper">    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Irradiação Solar</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Latidude</label>
                      <input
                        type="number"
                        class="form-control"
                        id="irradiance_latitude"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Longitude</label>
                      <input
                        type="number"
                        class="form-control"
                        id="irradiance_longitude"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Data Iníco</label>
                      <input
                        class="form-control"
                        value="2020-01-01"
                        id="irradiance_inicio"
                        type="date"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Data Fim</label>
                      <input
                        class="form-control"
                        value="2020-01-31"
                        id="irradiance_fim"
                        type="date"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <h5>Painel Fotovoltaico</h5>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Potência (W)</label>
                      <input
                        class="form-control"
                        id="irradiance_potencia"
                        type="number"
                        value="410"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Tolerância (%)</label>
                      <input
                        class="form-control"
                        id="irradiance_perda"
                        value="5"
                        type="number"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Custo (KWh)</label>
                      <input
                        class="form-control"
                        id="irradiance_custo"
                        value="0.05"
                        type="number"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                </div>                
              </div>
              <div class="card-footer">
                <button
                  id="btn_salvar"
                  class="btn btn-primary"
                  onclick="busca()"
                >
                  Buscar
                </button>
                <button
                  id="btn_pega"
                  class="btn btn-primary"
                  onclick="pegaLoc()"
                >
                  Usar Localização
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
      <div id="graficos">
        <div class="row justify-content-md-center">
          <div class="col-sm-8 col-md-8">
            <div class="card shadow">
              <div class="card-body">
                <div class="chart-area">
                  <div style="width: 100%">
                    <canvas id="canvas_dia"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-md-center">
          <div class="col-sm-8 col-md-8">
            <div class="card shadow">
              <div class="card-body">
                <div class="chart-area">
                  <div style="width: 100%">
                    <canvas id="canvas_dia_watts"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-md-center">
          <div class="col-sm-8 col-md-8">
            <div class="card shadow">
              <div class="card-body">
                <div class="chart-area">
                  <div style="width: 100%">
                    <canvas id="canvas_ano"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-md-center">
          <div class="col-sm-8 col-md-8">
            <div class="card shadow">
              <div class="card-body">
                <div class="chart-area">
                  <div style="width: 100%">
                    <canvas id="canvas_ano_watts"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div id="div_table"></div>
      </div>
    </section>
  </div>  
</div>
<canvas id="canvas_dia2" hidden height="1000px" width="1000px"></canvas>
<canvas id="canvas_dia_watts2" hidden height="1000px" width="1000px"></canvas>
<canvas id="canvas_ano2" hidden height="1000px" width="1000px"></canvas>
<canvas id="canvas_ano_watts2" hidden height="1000px" width="1000px"></canvas>
