{% load static %}
<script type="text/javascript" src="{% static 'js/index.js'%}"></script>
<div style="width: 100%;height: 100vh;position: relative;">
  <nav class="navbar navbar-light navgradiente" style="width: 100%;height: 70px; position: static;">
    <span id="button-menu" class="fas fa-bars btn btn-default" role="button"></span>
    <div class="navbar-header">
      <span onclick="location.reload();"><img src="{% static 'img/meusol2.png' %}" height="55"></span>
      <span onclick="location.reload();"><img src="{% static 'img/titulo.png' %}" height="20"></span>
    </div>
    <span></span>
  </nav>
  <div class="row" id="body-row" style="height: 92.2%;">
    <div id="index-menu"></div>
    <div id="sidebar-container" class="d-none d-md-block sidebar-expanded scrollStyle"
      style="height: auto; position: static; float: left;overflow-y:auto; ">
      <ul id="lista_menu" class="list-group">

      </ul>
    </div>
    <div class="col" id="index-pages" style="height: 100%; position:relative; float: left;overflow-y: auto;">

    </div>
  </div>
</div>
<div id="modal_msg" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title">Meu Sol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal_text" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">sair</button>
        {% comment %} <button type="button" class="btn btn-primary">sim</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="verifica_tem_vinculo" value="0">
<input type="hidden" id="verifica_tem_vinculo_codigo" value="0">
