{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{% static 'img/logoEquipeNasa.ico' %}" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>IAL PriceKey</title>


     <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Chart.min.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.maskMoney.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-dialog.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap-dialog.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/responsive.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jspdf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jspdf.plugin.autotable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/xlsx.core.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/FileSaver.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tableexport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tableCreate.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/http.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <style type="text/css">
        .loading {
            margin: 10px auto;
            width: 40%;
        }

        .loading>img {
            max-width: 100px
        }

        .loading {
            visibility: hidden
        }
    </style>
</head>
</body>

<body>
    <div id='corpo'></div>
</body>

</html>