{% load static %}
<script
  src="{% static 'pages/previsao/previsao.js' %}"
  type="text/javascript"
  charset="utf-8"
  async
  defer
></script>
<div id="form-banco">
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Previsao do tempo</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Latidude</label>
                      <input
                        type="number"
                        class="form-control"
                        id="irradiance_latitude"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Longitude</label>
                      <input
                        type="number"
                        class="form-control"
                        id="irradiance_longitude"
                        onblur="verifica(this)"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button
                  id="btn_salvar"
                  class="btn btn-primary"
                  onclick="busca()"
                >
                  Buscar
                </button>
                <button
                  id="btn_salvar"
                  class="btn btn-primary"
                  onclick="pegaLoc()"
                >
                  Usar Localização
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div id="dadosPrevisaoCidade" class="row"></div>
        <div id="dadosPrevisao" class="row"></div>
      </div>
    </section>
  </div>
</div>
